---
title: 'pluscloud v: docs'
---

{{< blocks/cover title="PlusCloud V: Technische Dokumentation" image_anchor="bottom" height="full" color="blue" >}}

<div class="mx-auto">
	<p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/logo.svg" alt="pluscloud v logo"></p><br><br>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Dokumentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/en/products/pluscloud">
		Mehr erfahren <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/pluscloudv">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-solid fa-users" title="Join us!" url="https://www.plusserver.com" %}}
Wir arbeiten an einer datensouveränen Cloud. Made in Germany.
Lerne uns kennen!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Mitwirkung wilkommen" url="https://github.com/pluscloudv/docs" %}}
Wir freuen uns über Beiträge per [Pull Request](https://github.com/pluscloudv/docs/pulls). Neulinge und Erfahrene sind herzlich wilkommen.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Folge uns auf LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
Für Ankündigungen, neue Funktionen und vieles mehr
{{% /blocks/feature %}}


{{< /blocks/section >}}

